.App{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #c0caff;
  color: rgb(0, 0, 0);
}
.container{
  padding: 1.5rem;
  display: flex;
  height: 80vh ;
  border: 1px solid gainsboro;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}
.p2{
  padding-inline: 1rem;
}
.item-box{
  /* list-style: none; */
  
}
button{
  background:none;
  border: none;
}